
.logo {
    display: block;
}



.search-header {
    display: inline-block;
    float: right;
    margin-top: 18px;
    
}
.search-header-icon {
    border-radius: 2px;
    display: inline-block;
   margin-right: 4px;
}
.search-header-icon i {
    padding: 5px;
}


nav>a {
    margin: 3px;
    padding: 2px 4px;
    border: 1px solid #fff;
    height: 20px;
    font-size: 17px;
    background-color: #fff;
    color: #ed4190;
    box-shadow: 0 0 3px 0 #00000066;
    text-decoration: none;
    border-radius: 5px;
}

nav>a:hover {
    color: #fff;
    background-color: #ed4190;
}

.search-icon {
    padding: 4px;
    width: 30px;
    color: #fff;
    background-color: #cddc39;
    height: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.cart-icon {
    padding: 4px;
    width: 30px;
    color: #ed4190;
    background-color: #cddc39;
    height: 30px;
}

footer {
    margin-top: 2px;
    border: 1px solid #ccc;
    padding: 5px;
    position: relative;
}

footer a {
    text-decoration: none;
    color: #ed4190;
}



footer p {
    text-align: center;
}

.order_now {
    border: 1px solid #ed4190;
    padding-top: 5px;
    border-radius: 5px;
    width: 24%;
    height: 150px;
    margin-left: 5px;
    text-align: center;

}

.order_now a {
    text-decoration: none;
    color: #000;
}

.order_img {
    width: 100px;
    height: 100px;
    display: flex;
    margin: auto;
}

.order_now-list {
    justify-content: center;
    
}
.product-item {
border-radius: 5px;
border: 1px solid #ccc;
margin-left: 5px;
text-align: center;
position: relative;
}
.product-item-order {
    height: 36px;
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(#fff, #cddc39);
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
}

.suggestions-icon {
    align-items: flex-end;
   margin-bottom: 1px;
}
.suggestions-send {
    margin-left: -8px;
    margin-bottom: 12px;
}
.care {
    order: 0;
}
.news {
    order: 1;
}
.news-img {
    border-radius: 5%;
    order: 1;
    
}
.new-text {
    order: 0;
}